.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 70px 0 0;
    margin: 50px 0;
}

.background {
    width: 410px;
    height: 276px;
    background-color: #E3EBE7;
}

.background img {
    position: relative;
    bottom: 25px;
    left: 90px;
}

.background p {
    font-family: 'Cedarville Cursive';
    font-size: 1.8rem;
    transform: rotate(270deg);
    transform-origin: 55px -325px;
}

.description {
    display: table-column;
    margin-bottom: 50px;
}