.promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 370px;
  margin: 200px 70px 50px 0;
}
@media (max-width: 992px) {
  .promotion {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: unset;
    margin: 50px 0 0 0;
  }
}

.background {
  position: relative;
  flex: 0 0 410px;
  margin: 0 0 0 100px;
  height: 276px;
  background-color: #e3ebe7;
}
@media (max-width: 992px) {
  .background {
    display: flex;
    flex: unset;
    justify-content: center;
    width: 100%;
    margin: unset;
    padding: 0 5vw 0 5vw;
  }
}

.background img {
  position: relative;
  object-fit: cover;
  top: -25px;
  left: 90px;
}
@media (max-width: 992px) {
  .background img {
    position: relative;
    top: -25px;
    left: unset;
    height: 320px;
  }
}

.background p {
  position: absolute;
  margin: 0 0 100px 0;
  transform: rotate(270deg);
  top: 10px;
  right: -50px;
  font-family: "Cedarville Cursive";
  font-size: 1.8rem;
}
@media (max-width: 992px) {
  .background p {
    display: none;
  }
}
