.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-weight: bold;
}

.header .image {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .header > button {
        border-color: transparent;
        background-color: transparent;
    }
}

.header nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px) {
    .header nav {
        display: none;
    }
}
