* {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  /* font-family: 'Cedarville Cursive', cursive;
  font-family: 'Josefin Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  margin-top: 0;
}
@media (max-width: 992px) {
  h2 {
    margin-top: 35px;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: calc(2.5rem - 1.7vw);
  }
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: calc(1rem + 0.22vw);
  line-height: 1.5;
  color: #444a4a;
}
@media (max-width: 992px) {
  p {
    font-size: 1.25rem;
  }
}


button {
  cursor: pointer;
}
