.background {
  height: 550px;
  margin: 100px 0;
  background-color: #eff7f6;
}
@media (max-width: 992px) {
  .background {
    width: 100%;
  }
}

.items {
  width: inherit;
  display: flex;
  justify-content: space-around;
  padding: 0 25px;
}

.items > button {
  background-color: transparent;
  border-color: transparent;
}

@media (max-width: 992px) {
  .items > button {
    display: none;
  }
}
